{% extends "base.html" %}

<!--
    Search for card sets. In the future it'll allow users to
    check each set, it's contents and author. TO IMPLEMENT:
    Favourite Sets / Like Set.
    Find and follow authors.
-->

{% block content %}
    {% if form %}
        <h1>Search for card sets: </h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit }}</p>
        </form>
    {% endif %}
    {% if card_sets %}
        {% for card_set in card_sets %}
            <p>{{ card_set.name }}</p><br>
        {% endfor %}
    {% endif %}
{% endblock %}