{% extends 'base.html' %}

{% block content %}
    {% block javascript %}
    <script type="text/javascript">

        var card_text = null

        function get_cards(setname){
            let response = fetch('http://127.0.0.1:5000/to_card')
            .then(response => response.json())
            .then(response => card_text = {'translation': response['translation'], 'words': response['words']})
            }

        var counter = 0
        var clicked = 0
        function get_card(){
            card = document.getElementById('card')
            card_bg = document.getElementById('card_bg')
            if (counter < card_text['translation'].length){
                if (clicked == 0){
                    card.innerHTML = card_text['translation'][counter]
                    clicked = 1
                    card_bg.style.border = 'inset'
                } else {
                    card.innerHTML = card_text['words'][counter]
                    counter += 1
                    clicked = 0
                    card_bg.style.border = 'outset'
                }
            } else {
                counter = 0
                card.innerHTML = 'Card'
                card_bg.style.border = 'outset'
            }
        }

    </script>
    {% endblock %}
    {% for sets in wordsets %}
        {% if sets.name != None %}
            <button id='set' onclick="get_cards('{{ sets.name }}')">{{ sets.name }}</button>
        {% endif %}
    {% endfor %}
    {% if wordsets != [] %}
        <div id='card_bg' style="background: grey; width: 100px; height: 150px; text-align: center; border-style: outset;" onclick="get_card()">
        <p id="card" style="position: relative; top: 25%; width: 100%;">Card</p></div>
    {% endif %}

{% endblock %}
