{% extends 'base.html' %}

{% block content %}
    {% block javascript %}
    <script type="text/javascript">

        var data = null

        function get_cards(setname){

            response = fetch('http://127.0.0.1:5000/to_card')
            .then(response => response.json())
            .then(response => data = response[setname])

            }

        var counter = 0

        function get_card(){

           if (counter < data.length-1) {
               counter += 1
               }
           else{
               counter = 0
               }
           document.getElementById('card').innerHTML = data[counter]

        }
    </script>
    {% endblock %}
    {% for sets in wordsets %}
        {% if sets.name != None %}
            <div id='set' onclick="get_cards('{{ sets.name }}')">{{ sets.name }}</div>
        {% endif %}
    {% endfor %}

    <div id="card" onclick="get_card()">Card</div>
{% endblock %}
