{% extends 'base.html' %}

{% block content %}
    <script>
        function delete_set(setsname){
            fetch('http://127.0.0.1:5000/delete/' + setsname)
            .then(reload => location.reload(true))
        }
    </script>
    <h1>User: {{ user.username }}</h1>
    {% for sets in wordsets %}
        {% if sets.name != None %}
            <table>
                <tr>
                    <th>Set Name:</th>
                    <th>{{ sets.name }} </th>
                </tr>
                    {% if sets.words != None and sets.words2 != None %}
                        <tr>
                            <td>Words: </td>
                        {% for word in sets.words.split(',') %}
                            <td> {{ word }}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                            <td>Translation: </td>
                        {% for word in sets.words2.split(',') %}
                            <td> {{ word }}</td>
                        {% endfor %}
                        </tr>
                    {% endif %}
            </table>
            <button onclick="delete_set('{{ sets.name }}')">Delete {{ sets.name }}</button>
        {% endif %}
    {% endfor %}

{% endblock %}